<%= form_with(model: @input, local: true, url:input_index_path ) do |form| %>

  <h1> Enter Details</h1>
  <div class="field">
    <%= form.label :City, class: 'form-label' %>
    <%= form.text_field :City, id: 'post-title', class: "form-control"%>
  </div>

  <div class="field">
    <%= form.label :Area, class: 'form-label' %>
    <%= form.text_field :Area, id: 'post-title', class: "form-control"%>
  </div>

  <div class="field">
    <%= form.label :bedrooms, class: 'form-label' %>
    <%= form.text_field :bedrooms, id: 'post-title', class: "form-control"%>
  </div>

  <div class="field">
    <%= form.label :bathrooms, class: 'form-label' %>
    <%= form.text_field :bathrooms, id: 'post-title', class: "form-control"%>
  </div>


  <fieldset class="rating">
    <%= form.label :Preference, class: 'form-label' %><br>
    <%= form.radio_button :Preference, 'Sale' , class: 'form-check-input'%> <%= form.label("Sale", class: 'form-check-label') %>
    <%= form.radio_button :Preference, 'Rent',  class: 'form-check-input'%> <%= form.label("Rent", class: 'form-check-label') %>
</fieldset>

  <fieldset class="rating">
    <%= form.label :Property_type, class: 'form-label' %><br>
    <%= form.radio_button :Property_type, 'Residential Land' , class: 'form-check-input'%> <%= form.label("Land", class: 'form-check-label') %>
    <%= form.radio_button :Property_type, 'Residential Apartment',  class: 'form-check-input'%> <%= form.label("Apartment", class: 'form-check-label') %>
  </fieldset>


  <div class="actions btn">
    <%= form.submit "Predict" %>
  </div>
<% end %>
